@font-face {
	font-family: "cooper";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

h1 {
	font-family: "cooper";
	font-size: 60px;
	color: lightblue;
	margin-top: -250px;
	text-align: right;
	position: fixed;
}

h2 {
	font-family: "cooper";
	font-size: 30px;
	color: darkblue;
	margin-top: -180px;
	text-align: right;
	position: fixed;
}

p {
	font-family: "cooper";
	font-size: 11px;
	color: darkblue;
	margin-top: 300px;
	text-align: right;
}

.red {
	width: 400px;
	background-color: transparent;
	margin top: 50px;
	align-content: left;
}

.yellow {
	width: 800px;

}

.yellow {
	background-color: transparent;
	margin-top: 50px;
	margin-left: auto;
}

.space-around {

}

.flex-vertical {
	display: flex-start;
	height: 1200px;
	flex-direction: row;
	margin: center;
}